
.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/yolov5.iml
build/CMakeFiles/3.18.0/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.18.0/CompilerIdC/a.out
build/CMakeFiles/3.18.0/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.18.0/CompilerIdCXX/a.out
build/CMakeFiles/3.18.0/CMakeCCompiler.cmake
build/CMakeFiles/3.18.0/CMakeCXXCompiler.cmake
build/CMakeFiles/3.18.0/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.18.0/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.18.0/CMakeSystem.cmake
build/CMakeFiles/myplugins.dir/DependInfo.cmake
build/CMakeFiles/myplugins.dir/build.make
build/CMakeFiles/myplugins.dir/cmake_clean.cmake
build/CMakeFiles/myplugins.dir/depend.internal
build/CMakeFiles/myplugins.dir/depend.make
build/CMakeFiles/myplugins.dir/flags.make
build/CMakeFiles/myplugins.dir/link.txt
build/CMakeFiles/myplugins.dir/myplugins_generated_yololayer.cu.o
build/CMakeFiles/myplugins.dir/myplugins_generated_yololayer.cu.o.Debug.cmake
build/CMakeFiles/myplugins.dir/myplugins_generated_yololayer.cu.o.cmake.pre-gen
build/CMakeFiles/myplugins.dir/myplugins_generated_yololayer.cu.o.depend
build/CMakeFiles/myplugins.dir/progress.make
build/CMakeFiles/yolov5.dir/CXX.includecache
build/CMakeFiles/yolov5.dir/DependInfo.cmake
build/CMakeFiles/yolov5.dir/build.make
build/CMakeFiles/yolov5.dir/calibrator.cpp.o
build/CMakeFiles/yolov5.dir/cmake_clean.cmake
build/CMakeFiles/yolov5.dir/depend.internal
build/CMakeFiles/yolov5.dir/depend.make
build/CMakeFiles/yolov5.dir/flags.make
build/CMakeFiles/yolov5.dir/link.txt
build/CMakeFiles/yolov5.dir/progress.make
build/CMakeFiles/yolov5.dir/yolov5.cpp.o
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/CMakeRuleHashes.txt
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/progress.marks
build/CMakeCache.txt
build/Makefile
build/_Baidu_0041.jpg
build/_Baidu_0042.jpg
build/_Baidu_0047.jpg
build/_Baidu_0054.jpg
build/_eat_10.jpg
build/_eat_11.jpg
build/_eat_12.jpg
build/_eat_13.jpg
build/_eat_14.jpg
build/_eat_15.jpg
build/_eat_16.jpg
build/_eat_17.jpg
build/_eat_18.jpg
build/_eat_54.jpg
build/_eat_55.jpg
build/cmake_install.cmake
build/libmyplugins.so
build/yolov5
build/yolov5.engine
build/yolov5s.wts
cmake-build-debug/CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.16.3/CompilerIdC/a.out
cmake-build-debug/CMakeFiles/3.16.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/3.16.3/CompilerIdCXX/a.out
cmake-build-debug/CMakeFiles/3.16.3/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.16.3/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.16.3/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.20.2/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.20.2/CompilerIdC/a.out
cmake-build-debug/CMakeFiles/3.20.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/3.20.2/CompilerIdCXX/a.out
cmake-build-debug/CMakeFiles/3.20.2/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.20.2/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.20.2/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.20.2/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.20.2/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/myplugins.dir/DependInfo.cmake
cmake-build-debug/CMakeFiles/myplugins.dir/build.make
cmake-build-debug/CMakeFiles/myplugins.dir/cmake_clean.cmake
cmake-build-debug/CMakeFiles/myplugins.dir/depend.internal
cmake-build-debug/CMakeFiles/myplugins.dir/depend.make
cmake-build-debug/CMakeFiles/myplugins.dir/flags.make
cmake-build-debug/CMakeFiles/myplugins.dir/link.txt
cmake-build-debug/CMakeFiles/myplugins.dir/myplugins_generated_yololayer.cu.o.Debug.cmake
cmake-build-debug/CMakeFiles/myplugins.dir/myplugins_generated_yololayer.cu.o.cmake.pre-gen
cmake-build-debug/CMakeFiles/myplugins.dir/myplugins_generated_yololayer.cu.o.depend
cmake-build-debug/CMakeFiles/myplugins.dir/progress.make
cmake-build-debug/CMakeFiles/yolov5.dir/CXX.includecache
cmake-build-debug/CMakeFiles/yolov5.dir/DependInfo.cmake
cmake-build-debug/CMakeFiles/yolov5.dir/build.make
cmake-build-debug/CMakeFiles/yolov5.dir/calibrator.cpp.o
cmake-build-debug/CMakeFiles/yolov5.dir/cmake_clean.cmake
cmake-build-debug/CMakeFiles/yolov5.dir/depend.internal
cmake-build-debug/CMakeFiles/yolov5.dir/depend.make
cmake-build-debug/CMakeFiles/yolov5.dir/flags.make
cmake-build-debug/CMakeFiles/yolov5.dir/link.txt
cmake-build-debug/CMakeFiles/yolov5.dir/progress.make
cmake-build-debug/CMakeFiles/yolov5.dir/yolov5.cpp.o
cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/CMakeFiles/CMakeOutput.log
cmake-build-debug/CMakeFiles/CMakeRuleHashes.txt
cmake-build-debug/CMakeFiles/Makefile.cmake
cmake-build-debug/CMakeFiles/Makefile2
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/clion-log.txt
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/progress.marks
cmake-build-debug/Testing/Temporary/LastTest.log
cmake-build-debug/CMakeCache.txt
cmake-build-debug/Makefile
cmake-build-debug/cmake_install.cmake
cmake-build-debug/libmyplugins.so
cmake-build-debug/yolov5
cmake-build-debug/yolov5.cbp
cmake-build-debug/yolov5.engine
cmake-build-debug/yolov5m.engine
cmake-build-debug/yolov5m.wts
outputs/output_Baidu_0041.jpg
outputs/output_Baidu_0042.jpg
outputs/output_Baidu_0047.jpg
outputs/output_Baidu_0054.jpg
outputs/output_eat_10.jpg
outputs/output_eat_11.jpg
outputs/output_eat_12.jpg
outputs/output_eat_13.jpg
outputs/output_eat_14.jpg
outputs/output_eat_15.jpg
outputs/output_eat_16.jpg
outputs/output_eat_17.jpg
outputs/output_eat_18.jpg
outputs/output_eat_54.jpg
outputs/output_eat_55.jpg